
<%- include('partials/cabecera', {titulo: "Agenda Telefónica - Editar contacto",  estilos_ruta: "/contactos/"}) %>     
<!--HEADER TERMINA-->

    <!--MAIN COMIENZA-->
    <main class="">     
        <form class = "formulario" action="/contactos/editar/<%= contacto.id %>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            <%- include('partials/menu_contactos') %>

            <div class="contenedor">
                <h2 class="formulario__titulo">Editar contacto</h2>
                <div class="formulario__fila formulario__fila-foto-perfil">
                    <div class="formulario__fila__campo__foto">
                        <img src="https://ruscica-code.ar/uploads/<%= contacto.imagen %>" alt="" class="formulario__campo__foto__img" id="preview">
                    </div>
                    <div class="formulario__fila__campo__foto-info">
                        <label class = "formulario__campo__label" for="image">Foto de perfíl:</label>
                        <input type="file" id="foto-perfil" name="image">
                        <input type="hidden" name="imagen_actual" value="<%= contacto.imagen %>">
                    </div>
                </div>
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="nombres">Nombres</label>                        
                        <input class = "formulario__campo__input" type="text" name="nombres" id = "nombres" value="<%= contacto.nombres %>">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="apellidos">Apellidos</label>
                        <input class = "formulario__campo__input" type="text" name="apellidos" id = "apellidos" value="<%= contacto.apellidos %>">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                </div>
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="telefono">Número de teléfono</label>
                        <input class = "formulario__campo__input" type="text" name="telefono" id = "telefono" value="<%= contacto.telefono %>">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio /formato no valido</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="email">Correo Electrónico</label>
                        <input class = "formulario__campo__input" type="text" name="email" id = "email" value="<%= contacto.correo %>">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio / formato no valido</label>
                    </div>
                </div>
                
                <input class="formulario__campo__btn" type="submit" value="Guardar edición">
                
            </div>
        </form>             
       
    </main>
    <!--MAIN TERMINA-->   



    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina', {scripts_ruta: "../scripts/"}) %>   
    <!--FOOTER TERMINA-->
</body>
</html>