
<%- include('partials/cabecera', {titulo: "Agenda Telefónica - Ver contactos"}) %>   
    <!--MAIN COMIENZA-->
    <main class="">      
        <form class = "formulario"  method="post">
            <nav class="app__navbar">
                <div class="app__navbar__acciones">
                    <a class="app__navbar__acciones__link" href="/contactos/agregar">Agregar</a>
                    <a class="app__navbar__acciones__link"  href="/contactos/todos">Ver todos</a>
                    <a class="app__navbar__acciones__link"  href="/contactos/buscar">buscar</a>
                </div>            
                <div class="app__navbar__user">
                    <label>UserName</label>
                    <a class="app__navbar__acciones__link"  href="/login">Salir</a>
                </div>
            </nav>

            <div class="contenedor">
                <h2 class="formulario__titulo">Contactos</h2>

                <% contacts.forEach((contact) => { %>
                <!--Una tarjeta de un contacto Con un display grid de tres componentes-->
                <section class="contactos-tarjeta">
                    <div class="contactos-tarjeta__img-container">
                        <img src="../imgs/<%= contact.imagen%>" alt="" class="contactos-tarjeta__img-container__img">
                    </div>

                    <div class="contactos-tarjeta__titulo">
                        <span class="contactos-tarjeta__titulo__texto"><%= contact.nombres + " " + contact.apellidos %></span>
                        <div class="contactos-tarjeta__titulo__botones">
                            <div class="contactos-tarjeta__titulo__botones__btn  btn-ver"  id="ver_contacto" data-id="<%= contact.id %>">
                                <span class="contactos-tarjeta__titulo__botones__btn__texto" >VER</span>
                                <i class="fa-solid fa-eye"></i>
                            </div>
                            <div class="contactos-tarjeta__titulo__botones__btn  btn-editar"  id="editar_contacto" data-id="<%= contact.id %>">
                                <span class="contactos-tarjeta__titulo__botones__btn__texto">EDITAR</span>
                                <i class="fa-solid fa-pen-to-square "></i>
                            </div>                        
                            <div class="contactos-tarjeta__titulo__botones__btn  btn-borrar"  id="eliminar_contacto" data-id="<%= contact.id %>">
                                <span class="contactos-tarjeta__titulo__botones__btn__texto">ELIMinaR</span>
                                <i class="fa-solid fa-trash-can"></i>
                            </div>
                        </div>
                    </div>
                    
                    <div class="contactos-tarjeta__data">
                        <div class="contactos-tarjeta__data__item">                           
                            <i class="fa-regular fa-envelope"></i>                            
                            <label id = "correo"><%= contact.correo %></label>
                            <i class="fa-regular fa-copy  btn-copiar" data-id=""></i>
                        </div>
                        <div class="contactos-tarjeta__data__item">                           
                            <i class="fa-solid fa-phone"></i>
                            <label id = "telefono"><%= contact.telefono %></label>
                            <i class="fa-regular fa-copy  btn-copiar" data-id=""></i>
                        </div>
                    </div>
                </section>   
                <% }); %>                   
            </div>
        </form>             
       
    </main>
    <!--MAIN TERMINA--> 

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina') %>   
    <!--FOOTER TERMINA-->
</body>
</html>